footer.footer
    div.footer-content
        p &copy; 2024 DNS Lookup Tool. All rights reserved.
        nav.footer-nav
            ul.nav-list
                li.nav-item
                    a.nav-link(href="/privacy") Privacy Policy
                li.nav-item
                    a.nav-link(href="/terms") Terms of Service