header.header
    nav.navbar
        ul.nav-list
            li.nav-item
                a.nav-link(href="/") Home
            li.nav-item
                a.nav-link(href="/about") About
            li.nav-item
                a.nav-link(href="/contact") Contact