extends base

block content
  main.main
    section
      h1 Terms of Service
      p
        | Welcome to DNS Lookup Tool. By using our services, you agree to the following terms and conditions. 
        | Please read them carefully.

    section
      h2 Acceptance of Terms
      p
        | By accessing or using our website, you agree to comply with and be bound by these Terms of Service. 
        | If you do not agree with these terms, please refrain from using the website.

    section
      h2 Modifications to the Terms
      p
        | We reserve the right to modify these Terms of Service at any time. Any changes will be effective immediately upon 
        | posting. Your continued use of the site after changes are posted constitutes your acceptance of the revised terms.

    section
      h2 Use of Services
      ul
        li You agree to use the DNS Lookup Tool for lawful purposes only.
        li You will not use the service to engage in activities that violate any applicable laws or regulations.
        li You must not interfere with the operation of the website or attempt to gain unauthorized access to any part of the site.

    section
      h2 Intellectual Property
      p
        | All content, trademarks, logos, and other intellectual property displayed on the website are the property of DNS Lookup Tool 
        | or its respective owners. You are not permitted to reproduce, distribute, or use any content without prior written consent.

    section
      h2 Limitation of Liability
      p
        | DNS Lookup Tool is provided "as is" without warranties of any kind, either express or implied. We are not responsible for any 
        | damages or losses resulting from your use of the service.

    section
      h2 Termination of Service
      p
        | We reserve the right to suspend or terminate your access to the website at our sole discretion, without prior notice, 
        | if we believe you have violated these Terms of Service.

    section
      h2 Governing Law
      p
        | These Terms of Service are governed by the laws of Czech Republic. Any disputes arising from the use of this site 
        | shall be resolved in the courts of Czech Republic.

    section
      h2 Contact Us
      p
        | If you have any questions or concerns regarding these Terms of Service, please 
        a(href='/contact') contact us.
